
#header {
    text-align: center;
    font-family: 'Didot';
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;   
}



#body {
    font-family: 'Adobe Caslon Pro';
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
