
#header {
    text-align: center;
    font-family: 'Didot';
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;   
}
#main {
    width: 900px;
    float: right;
}
#nav {
    width: 100px;
    float: left;
    font-family: 'Avenir';
}
#content {
    padding: 10px;}

#nav ul {
    list-style-type: none;
    padding: 0;
}
#body {
    font-family: 'Adobe Caslon Pro';
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
