#header {
    text-align: center;
    font-family: 'Didot';
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: lightcoral;
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;   
    /*Add overflow:auto to fix background color */
}
#main {
    font-size: 18px;
    width: 780px;
    float: right;
    ;
    
    
}
#The_Daily {
    width: 160px;
    float: left;
    font-family: 'Avenir';
    color: lightseagreen;
}
/*Removed #content to remove padding, might want to access later*/

#nav ul {
    list-style-type: none;
    padding: 0;
}
#body {
    font-family: 'Adobe Caslon Pro';
    font-size: 20px;
   
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  




